<h2>Add New Product:</h2>
  <%= form_for @product, :url => products_path, :html => { :multipart => true } do |f| %>
    <% if @product.errors.any? %>
    <div class = "error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>
    <div class="field form-group">
      <%= f.label :name %><br />
      <%= f.text_field :name %>
    </div>
    <div class="field form-group">
      <%= f.label :description %><br />
      <%= f.text_area :description %>
    </div>
    <div class="field form-group">
      <%= f.label :price %><br />
      <%= f.text_field :price %>
    </div>
    <div class="field form-group">
      <%= f.label :photo %><br />
      <%= f.file_field :pic %>
    </div>
    <%= f.submit "Add Product", class: "btn btn-warning btn-sm" %>
  <% end %>
